body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-align: center;
    font-family: "Courier New", monospace;
    color: white;
    width: 100%;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#pingBox {
    position: fixed;
    top: 15px;
    right: 25px;
    color: #00FF26;
}

#stageBox {
	display: inline-block;
}

#jumbotron, #statBox {
	display: inline-block;
    height: 600px;
    color: #00FF26;
}

#statBox {
	
}

#jumbotron {
	width: 15em;
    border: 1px solid #00FF26;
}

#statBox p, #jumbotron p {
	float: left;
	clear: both;
	margin: 2px;
}

#content {
	display:inline;
}