<!DOCTYPE HTML>
<html>
<head>
    <title>JakeJohnLaneAwesomeGame</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
            text-align: center;
            font-family: "Courier New", monospace;
            color: white;
        }
        
        h1 {
        
        }
        
        #pingBox {
            position: fixed;
            top: 25px;
            right: 25px;
            color: #00FF26;
        }
    </style>
    <script src="pixi.js"></script>
    <script src="jquery.js"></script>
    <script src="hotkey_plugin.js"></script>

</head>
<body>
    
    <div id="pingBox">
        RTT: <span id="pingNum"></span> ms
    </div>

    <h1>JakeJohnLaneAwesomeGame</h1>
    
    <script>
    
$(function() {

    // create an new instance of a pixi stage
    var stage = new PIXI.Stage(0xFFFFFF);
    stage.interactive = true;

    // create a renderer instance
    var renderer = new PIXI.autoDetectRenderer(1024, 640);
    
    // set the canvas width and height to fill the screen
    // renderer.view.style.display = "block";

    // add the renderer view element to the DOM
    document.body.appendChild(renderer.view);

    requestAnimFrame( animate ); // I guess this starts a loop and keeps animating. Magic!
    
    var userid = 0;

    var game = {};
    game.players = {}; // map id->player
    game.attacks = {}; // map id->attack
    
    function animate() {
        requestAnimFrame( animate );
        renderer.render(stage);
    }
    
    // var ws = new WebSocket("ws://127.0.0.1:9999/");
    var ws = new WebSocket("ws://54.69.151.4:9999/");
    
    ws.onopen = function() {
        console.log("socket opened");
    };
    
    ws.onmessage = function (evt) {
    	var message = JSON.parse(evt.data);
    	//console.log(message.data);
    	var data = message.data;
    	switch (message.type) {
    	case ("welcome"):
    	    console.log("welcome msg received, id: " + message.id);
    	    userid = message.id;
    	    break;
    	case ("ping"):
            var ping = new Date().getTime() - message.data;
            $("#pingNum").text(ping);
            break;
    	case ("update"):
    		var playerIDs = []; // make a set of current ids we are using
            var attackIDs = [];
    	    for (id in game.players) {
    	    	playerIDs.push(id);
    	    }
    	    for (id in game.attacks) {
    	    	attackIDs.push(id);
    	    }
        	data.players.forEach(function(player) {
            	var id = player.id;
            	if (game.players[id] == null) {
            		// register new player
            		// create a texture from an image path
            	    var texture = PIXI.Texture.fromImage("img/wizard-sm.png");
            		// create a new Sprite
            		game.players[id] = new PIXI.Sprite(texture);
            		// center the sprite
            		game.players[id].anchor.x = 0.5;
            		game.players[id].anchor.y = 0.5;
            		// position
            		game.players[id].position.x = player.xPos;
            		game.players[id].position.y = player.yPos;
            		stage.addChild(game.players[id]);
            	}
            	else {
            		game.players[id].position.x = player.xPos;
            		game.players[id].position.y = player.yPos;
            		playerIDs.pop(id);
            	}
            });
    	    data.attacks.forEach(function(attack) {
    	    	var id = attack.id;
    	    	if (game.attacks[id] == null) {
    	    		var texture = PIXI.Texture.fromImage("img/fireball-sm.png");
    	    		game.attacks[id] = new PIXI.Sprite(texture);
    	    		game.attacks[id].anchor.x = 0.5;
    	    		game.attacks[id].anchor.y = 0.5;
    	    		game.attacks[id].position.x = attack.xPos;
                    game.attacks[id].position.y = attack.yPos;
                    stage.addChild(game.attacks[id]);
    	    	}
    	    	else {
                    game.attacks[id].position.x = attack.xPos;
                    game.attacks[id].position.y = attack.yPos;
                    attackIDs.pop(id);
    	    	}
    	    });
    	    playerIDs.forEach(function(id) {
    	    	stage.removeChild(game.players[id]);
    	    });
            attackIDs.forEach(function(id) {
                stage.removeChild(game.attacks[id]);
            });
            break;
        default:
        	console.log("unknown message type:");
            console.log(message);
        	break;
        }
    };
    
    ws.onclose = function() {
        console.log("socket closed");
    };
    
    ws.onerror = function(err) {
        console.log("error: " + err.data);
    };
    
    stage.click = function(data) {
        var attack = {};
        attack.xPos = 0; // TODO: get position of player and put these here
        attack.yPos = 0;
        var totalVelocity = 10; // TODO: get this from player
        var xClick = data.global.x;
        var yClick = data.global.y;
        var xDelta = xClick - attack.xPos;
        var yDelta = yClick - attack.yPos;
        var d = Math.sqrt((xDelta * xDelta) + (yDelta * yDelta));
        var factor = 10 / d;
        attack.xVelocity = xDelta * factor;
        attack.yVelocity = yDelta * factor;
        attack.ownerID = userid;
        var message = {type:"attack",id:userid,data:attack};
        ws.send(JSON.stringify(message));
    }
    
    // send ping requests
    setInterval(function() {
        if (userid != 0) { // has the welcome message arrived?
            var message = {};
            message.type = "ping";
            message.id = userid;
            message.data = new Date().getTime();
            ws.send(JSON.stringify(message));
        }
    }, 2000);

    // send player update
    setInterval(function() {
        if (userid != 0) { // has the welcome message arrived?
            var playerInfo = {};
            playerInfo.xPos = 200;
            playerInfo.yPos = 200;
            playerInfo.id = userid;
            playerInfo.xVelocity = 0;
            playerInfo.yVelocity = 0;
            var message = {};
            message.type = "player_update";
            message.id = userid;
            message.data = playerInfo;
            ws.send(JSON.stringify(message));
        }
    }, 20);
    
    var MAX_SPEED = 6000;
    var FRICTION = 0.97;
    var upArrow = 38;
    var downArrow = 40;
    var rightArrow = 39;
    var leftArrow = 37;
    var upKey = 87;
    var downKey = 83;
    var rightKey = 68;
    var leftKey = 65;

    var texture = PIXI.Texture.fromImage("img/wizard-sm.png");
    // create a new Sprite
    var wizard = new PIXI.Sprite(texture);
    wizard.anchor.x = 0.5;
    wizard.anchor.y = 0.5;
    wizard.position.x = 500;
    wizard.position.y = 500;
    stage.addChild(wizard);
    
    wizard.vx = 0;
    wizard.vy = 0;
    wizard.health = 100;

    function accelerate(x, y) {
        wizard.vx = Math.max(Math.min(MAX_SPEED, wizard.vx + x), -MAX_SPEED);
        wizard.vy = Math.max(Math.min(MAX_SPEED, wizard.vy + y), -MAX_SPEED);
    }

    var keys = {};
    
    $(document).keydown(function(event) {
        keys[event.which] = true;
        var x = 0;
        var y = 0;
        console.log(keys);
        for (var key in keys) {
            if (key == upArrow || key == upKey) {
                y += -6000;
            }
            if (key == downArrow || key == downKey) {
                y += 6000;
            }
            if (key == leftArrow || key == leftKey) {
                x += -6000;
            }
            if (key == rightArrow || key == rightKey) {
                x += 6000;
            }
        }
        accelerate(x, y);
    });
    
    $(document).keyup(function(event) {
        delete keys[event.which];
    });

    setInterval(function() {
        wizard.position.x += wizard.vx / 1000;
        wizard.position.y += wizard.vy / 1000;
        wizard.vx *= FRICTION;
        wizard.vy *= FRICTION;
    }, 20);
});

    </script>

    </body>
</html>

<!-- 
    
    $scope.keyDown = function($event) {

    };

    $scope.keyUp = function($event) {
        
    };
    
    
     -->
