<!DOCTYPE HTML>
<html>
<head>
    <title>pixi.js example 1</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
            text-align: center;
            font-family: "Courier New", monospace;
            color: white;
        }
        
        h1 {
        
        }
        
        #pingBox {
            position: fixed;
            top: 25px;
            right: 25px;
            color: #00FF26;
        }
    </style>
    <script src="pixi.js"></script>
    <script src="jquery.js"></script>

</head>
<body>
    
    <div id="pingBox">
        PING: <span id="pingNum"></span> ms
    </div>

    <h1>JakeJohnLaneAwesomeGame</h1>
    
    <script>
    
$(function() {

    // create an new instance of a pixi stage
    var stage = new PIXI.Stage(0xFFFFFF);

    // create a renderer instance
    var renderer = new PIXI.autoDetectRenderer(1024, 640);
    
    // set the canvas width and height to fill the screen
    // renderer.view.style.display = "block";

    // add the renderer view element to the DOM
    document.body.appendChild(renderer.view);

    requestAnimFrame( animate ); // I guess this starts a loop and keeps animating. Magic!
    
    var userid = 0;

    var game = {};
    game.players = {}; // map id->player
    game.attacks = {}; // map id->attack
    
    function animate() {
        requestAnimFrame( animate );
        renderer.render(stage);
    }
    
    var ws;
    try {
        ws = new WebSocket("ws://127.0.0.1:9999/");
    }
    catch(err) {
    	ws = new WebSocket("ws://54.69.151.4:9999/");
    }
    
    ws.onopen = function() {
        console.log("socket opened");
    };
    
    ws.onmessage = function (evt) {
    	var message = JSON.parse(evt.data);
    	var data = JSON.parse(message.data);
    	//console.log(message);
    	switch (message.type) {
    	case ("welcome"):
    	    console.log("welcome msg received, id: " + message.id);
    	    userid = message.id;
    	    break;
    	case ("ping"):
            var ping = new Date().getTime() - message.data;
            $("#pingNum").text(ping);
            break;
    	default:
        	data.players.forEach(function(player) {
            	var id = player.id;
            	if (game.players[id] == null) {
            		// register new player
            		// create a texture from an image path
            	    var texture = PIXI.Texture.fromImage("img/wizard-sm.png");
            		// create a new Sprite
            		game.players[id] = new PIXI.Sprite(texture);
            		// center the sprite
            		game.players[id].anchor.x = 0.5;
            		game.players[id].anchor.y = 0.5;
            		// position
            		game.players[id].position.x = player.xPos;
            		game.players[id].position.y = player.yPos;
            		stage.addChild(game.players[id]);
            	}
            	else {
            		game.players[id].position.x = player.xPos;
            		game.players[id].position.y = player.yPos;
            	}
            });
            break;
        }
    };
    
    ws.onclose = function() {
        console.log("socket closed");
    };
    
    ws.onerror = function(err) {
        console.log("error: " + err.data);
    };
    
    // send ping requests
    setInterval(function() {
        if (userid != 0) { // has the welcome message arrived?
            var message = {};
            message.type = "ping";
            message.id = userid;
            message.data = new Date().getTime();
            ws.send(JSON.stringify(message));
        }
    }, 2500);
    
    
});

    </script>

    </body>
</html>
